{% extends 'base.html' %}  
{% load static %}
{% block title %}Welcome{% endblock %}

 {% block content %}   
 <br>
<div class="jumbotron"  style="background-color:#e6f2ff;">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">I am studying Engineering so you would expect my left brain to work alot. But my right brain never shuts down. It keeps creating some random and funny thoughts. I'll try to post some of them here.</p>
  <hr class="my-4">
  <p></p>
  <a class="btn btn-primary btn-lg" href="testimonials" role="button">Saru</a>
</div>
 
   
<br>
  
 

 {% endblock %}
 
