{% extends 'base.html' %}   
 {% load static %}
{% block title %}About Sarvesh{% endblock %}
 {% block content %} 
  

</style> 
 
 <div class="alert alert-dark" role="alert">
 <p><center>  <img src="{% static 'images/t (3).jpg'%}" alt="Trulli" width="1100 " height="700"></center></p> 

<p align="cadrd-body"> 
        
          <h5 class="card-title"><div class="alert alert-primary" role="alert">
          RESULT HIGHLIGHTS:  

      </div> </h5> 
      <div class="alert alert-warning" role="alert">
       * 29 students secured more than 95%
      </div>
          <div class="alert alert-secondary" role="alert">
       * 57 students secured more than 90% 
      </div>
      <div class="alert alert-success" role="alert">
      * 11 students scored 100/100 in Mathematics
      </div>
      <div class="alert alert-danger" role="alert">
       * One third students secured more than 90%
      </div>
 
</div>
{% endblock %}